@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Poppins:wght@100;200;300&display=swap');

/*Reset css*/
body{
    margin: 0;
    padding: 0;
}

/*Configurações globais do estilo da calculadora.*/
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 300; 
  }
  
  p {
    font-size: 12pt;
    font-weight: 200;
    text-align: justify;
  }

#container{ /*Container principal da página*/
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.container-header{ /*Container do header do site*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #252525; 
}

.menu-floating{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 18px;
}
.menu-floating a{
  transition:  0.7s ease;
  text-decoration: none;
  font-weight: 400;
  padding: 9px;
  margin: 0px 17px 0px 17px;
  color: #252525;

}
.menu-floating a:hover{
  transition: 0.7s ease;
  color: #ffffff;
  background-color: #252525;
}


.container-contentMain-Support{ /*Container de configurações do conteudo principal da pagina.*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    width: 25em;
    height: auto;
    margin: 0;
    padding: 0;
}
